.body {
    background-image: url(images/image.png);
    background-size: cover;
    height: 100%;
    width: 100%;
}

button:hover {
    background-color: #6c1d91;
    color: #000000; 
    border-color: #000000;
  }

  